body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 232, 232);
}

/*Global*/
.container{
    color: orangered;
    width: 80%;
    margin: auto;
    margin: relative;
}
img{
    max-width: 8%;
    height: auto;
    float: left;
    margin-top: -20px;
}

.form-horizontal{
    color: red;
    font-style: inherit;
    font: message-box;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.GrubHut{
    color: orangered;
    font-weight: bold;
    text-align: center;
    font-family: cursive;

}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: center;
    margin: 0;
}



.password{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Login{
    color: orangered;
    font-size: 20px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
}

input{
    font-size: 20px;
    font-style: italic;
}

/*box*/
.box {
    margin-top: 10px;
    margin: -52px;
}


/*header*/
header{
    background: rgb(77, 75, 75);
    color: orangered;
    padding-top: 30px;
    min-height: 80px;
    border-bottom: orangered 3px solid;
    border-top: rgb(206, 6, 6) 5px solid;
}



header .highlight, header .current a{
    color: rgb(192, 6, 6);
    font-weight: bold;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
    margin-left: -100px;
}

/*footer*/
footer{
    margin: auto;
    padding: auto;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;